<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Expense analysis</li>
    </ol>
</nav>
  

<h1 class="display-1">Analysis report</h1>

<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="flex-row w-50">
        <div class="rounded card m-5">
            <h5 class="card-header bg-dark text-light">
                Weekly
            </h5>
            <div class="card-body">
                <svg class="pie"></svg>
            </div>
        </div>
        <div class="rounded card m-5">
            <h5 class="card-header bg-dark text-light">
                Monthly
            </h5>
            <div class="card-body">
                <svg class="bar"></svg>
            </div>
        </div>
    </div>

    <div class="flex-row w-50">
        <div class="rounded card m-5">
            <h5 class="card-header bg-dark text-light">Quarterly</h5>
            <div class="card-body">
                <svg class="line"></svg>
            </div>
        </div>
        <div class="rounded card m-5">
            <h5 class="card-header bg-dark text-light">Yearly</h5>
            <div class="card-body">
                <svg class="average"></svg>
            </div>
        </div>
    </div>
</div>
