
<main class="d-flex flex-row main">
    <div class="left-panel bg-dark"> 
        <div class="text-light h3 login-header">Get exclusive access to Expense Manager</div>
        <div class="text-light login-info">We have developed a super cool platform for you to manage your expenses. 
            We aim to keep this app as user-friendly as possible. Do check it out!
        </div>
    </div>
    <div class="right-panel"> 
        <div class="text-dark h3 login-header">We have designed a super smooth login so you can get started with your expense management really fast!</div>
        <div class="text-dark login-info">Simply click the below button to login using your gmail account and start tracking your expenses!</div>
        <button id="customBtn" class="customGPlusSignIn" type="button" class="btn btn-light text-secondary sign-in" data-onsuccess="onSignIn">
            <i class="text-primary bi bi-google"></i>
            <span>Sign in with Google</span>
        </button>
    </div>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn">Sign In</div> --> 
    

    <!-- <div id="gSignInWrapper">
        <span class="label">Sign in with:</span>
        <div id="customBtn" class="customGPlusSignIn">
          <span class="icon"></span>
          <span class="buttonText">Google</span>
        </div>
      </div>
      <div id="name"></div> -->
      <!-- <script>startApp();</script> -->
</main>
