<div class="d-flex justify-content-center m-auto preloader" *ngIf="showLoader">
    <div class="spinner-grow spinner-grow-sm text-light" role="status">
    <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<main class="d-flex flex-row main">
    <div class="left-panel bg-dark"> 
        <img src="^assets/login.gif">
    </div>
    <div class="right-panel"> 
        <div class="text-dark h3 login-header">We have designed a super smooth login so you can get started with your expense management really fast!</div>
        <div class="text-dark login-info">Simply click the below button to login using your gmail account and start tracking your expenses!</div>
        <button id="customBtn" class="customGPlusSignIn" type="button" class="btn btn-light text-secondary sign-in text-dark" data-onsuccess="onSignIn">
            <i class="text-primary bi bi-google"></i>
            <span>Sign in with Google</span>
        </button>
    </div>
    
</main>



