
<main class="container w-25">
    <form>
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <div class="form-floating row">
        <input type="email" class="form-control col" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating row pb-3">
        <input type="password" class="form-control col" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" (click)="login()">Sign in</button>
    </form>
</main>
