<div class="d-flex flex-row m-5 rounded card">
    <div class="card add-container w-50">
      <h5 class="card-header bg-dark">
        <div class="flex-column">
          <nav aria-label="row justify-content-center breadcrumb ">
            <ol class="column justify-content-start g-3 breadcrumb">
                <li class="breadcrumb-item text-light"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active text-light" aria-current="page">Add expense</li>
            </ol>
          </nav>  
        </div>
    </h5> 
    <div class="add-container">
        <div class="card-body">
          <form [formGroup]="addExpenseForm" >
            <div class="type row justify-content-center g-3 align-items-center m-2">
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Expense Name</span>
                <input type="text" id="expense" class="form-control" formControlName="expense" autocomplete="off">
              </div>
            </div>
            <div class="amount row justify-content-center g-3 align-items-center m-2">
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Expense Amt</span>
                <input type="number" id="amount" class="form-control" formControlName="amount" autocomplete="off">
              </div>
            </div>
            <div class="type row justify-content-center g-3 align-items-center m-2">
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Expense Date</span>
                <input type="date" id="type" class="form-control" formControlName="expenseDate" autocomplete="off">
              </div>
            </div>
            <div class="action row justify-content-center g-3 align-items-center m-2">
              <div [ngClass]="{'disabled-button': !(name && amount)}">
                <button type="button"  class="m-2 btn btn-primary" id="liveToastBtn" (click)="addExpense()">Submit</button>
                <button type="button" class="m-2 btn btn-primary" (click)="reviewReport()">Report</button>
              </div>
            </div>
          </form>    
        </div>
    </div>

    </div>
    
    <div class="card add-container w-50">
      <h5 class="card-header bg-dark text-light"> Summary </h5> 
      <div class="card-body summary-body justify-content-center">
         <div *ngIf="userEntered;else noData">
           <img src="{{imgPath}}" />
            <span class="message">{{message}}</span>
            <div class={{mood}}> {{amount}} for {{name}}</div>            
         </div>
         <ng-template #noData>
          Please enter the data in the form on your left!
         </ng-template>
      </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success text-light">
      <strong class="me-auto">Success</strong>
      <button type="button" class="btn-close text-light" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Your expense record has been added.
    </div>
  </div>
</div>
